body {
  background-color: teal;
}

img {
  width:50%;
  height: auto;
}
.mainimg{
  width:100%;
  height:min-content;
}
.jsresult, .csharpresult, .rubyresult, .confusedresult {
  display:none;
}

h1 {
  background-color: orange;
  padding-bottom:10px;
  border: solid 5px black;
  margin-bottom: 15px;
}
#formOne {
  padding: 5px;
  border-top:solid 5px orange;
}

.form-control {
  margin-bottom: 50px;
}

.star {
  color:red;
  font-size:xx-large;
}